attrs==26.1.0
Automat==25.4.16
bcrypt==5.0.0
cffi==2.1.1
constantly==23.10.4
cryptography==50.0.0
hyperlink==21.0.0
idna==3.19
Incremental==24.11.0
packaging==26.3
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pyOpenSSL==26.4.0
pyseccomp==0.1.2
pyserial==3.5
python-gsmmodem-new==0.13.0
service-identity==26.1.0
setuptools==84.0.0
six==1.17.0
tomli==2.4.1
Twisted==26.4.0
typing_extensions==4.16.0
zope.interface==8.5
