attrs==25.4.0
Automat==25.4.16
bcrypt==5.0.0
cffi==2.0.0
constantly==23.10.4
cryptography==46.0.3
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
packaging==25.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==2.23
pyOpenSSL==25.3.0
pyseccomp==0.1.2
pyserial==3.5
python-gsmmodem-new==0.13.0
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
tomli==2.4.0
Twisted==25.5.0
typing_extensions==4.15.0
zope.interface==8.2
