[Unit]
Description=The SMS Gateway service.
After=syslog.target

[Service]
Type=simple
User=smsgate
Group=smsgate
ExecStart=/var/lib/smsgate/venv/bin/python /opt/smsgate/server/smsgate.py --server-config /opt/smsgate/conf/smsgate.conf --simcard-config /opt/smsgate/conf/sim-cards.conf
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
