[Unit]
Description=The SMS Gateway service.
After=syslog.target

[Service]
Type=simple
User=smsgate
Group=smsgate
ExecStart=/var/lib/smsgate/venv /opt/smsgate/server/smsgate.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
